
:root {font-size: 100%;}
body {
  font-size: 0.8em;
  line-height: 1.4em;
}
@media screen and (min-width: 20em) {
  body {
    font-size: calc(0.8em + (1.1 - 0.8) * ((100vw - 20em) / (80 - 20)));
    line-height: calc(1.4em + (1.8 - 1.4) * ((100vw - 20em) / (80 - 20)));
  }
}

@media (min-width: 80em) {
  body {
    font-size: 1.1em;
    line-height: 1.4em;
  }
}
body {
  margin-left: 10%;
  margin-right: 7%;        
}

h3.conceptmdh3 {
  font-family:arial;
  font-size:1.5em;
}
p.conceptmdp01 {
  font-family:arial;
}
table {
  width:100%;
  table-layout: fixed;
  border-spacing: 0.25em 0;
  font-family:arial;
  font-size:1.1em;
}
th.conceptmdth0 {
  font-size:1.2em;
  text-align: center;
  font-weight: bold; 
  text-decoration: underline;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}
td.conceptmdtd0 {
  padding-left: 0.2em;
  padding-right: 0.2em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  vertical-align: top;
}
td.conceptmdtd1 {
  font-size:1.2em;
  text-align: center;
  font-weight: bold; 
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #BFBFBF; 
  color: #ffffff;
}
td.conceptmdtd2 {
  font-size:1.2em;
  text-align: center;
  font-weight: bold; 
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #003A6F; 
  color: #ffffff;
}

ul.conceptmdlist0 {}
ul.conceptmdlist1 {font-size:0.9em;}
ol.conceptmdlist0 {}
ol.conceptmdlist1 {font-size:0.9em;}
li.conceptmdlistel0 {margin-bottom: 0.5em;}
      
