
:root {font-size: 100%;}
div.conceptmd {
  font-size: 0.8em;
  line-height: 1.4em;
}
@media screen and (min-width: 20em) {
  div.conceptmd {
    font-size: calc(0.8em + (1.1 - 0.8) * ((100vw - 20em) / (80 - 20)));
    line-height: calc(1.4em + (1.8 - 1.4) * ((100vw - 20em) / (80 - 20)));
  }
}

@media (min-width: 80em) {
  div.conceptmd {
    font-size: 1.1em;
    line-height: 1.4em;
  }
}

div.conceptmd {
  margin-left: 10%;
  margin-right: 7%;        
}

div.conceptmd h3 {
  font-family:arial;
  font-size:1.5em;
}
div.conceptmd p {
  font-family:arial;
}
div.conceptmd table {
  width:100%;
  table-layout: fixed;
  border-spacing: 0.25em 0;
  font-family:arial;
  font-size:1.1em;
}

div.conceptmd td {
  padding-left: 0.2em;
  padding-right: 0.2em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  vertical-align: text-top;
  text-align: center;
}

div.conceptmd td.td0 {
  font-size:1.2em;
  vertical-align: middle;
  font-weight: bold; 
  text-decoration: underline;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}
div.conceptmd td.td1 {
  font-size:1.2em;
  vertical-align: middle;
  font-weight: bold; 
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #506E91; 
  color: #ffffff;
}
div.conceptmd td.td2 {
  font-size:1.2em;
  vertical-align: middle;
  font-weight: bold; 
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #003A6F; 
  color: #ffffff;
}
div.conceptmd td.arrow {
  width:3em;
  height:3em;
  vertical-align: middle;
}
div.conceptmd td.arrow img {
  max-width:100%;
  max-height:100%;
}

div.conceptmd ul {text-align:left;}
div.conceptmd ol {text-align:left;}
div.conceptmd ul.sublist {font-size:0.9em;}
div.conceptmd ol.sublist {font-size:0.9em;}

div.conceptmd li {margin-bottom: 0.5em;}
      
